<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Function Step 1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/navb.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/wholeAppDesign.css">
</head>

<body>
    <nav class="navbar">
        <a class="navbar-center">Algo-writer</a>
    </nav>
    <div class="container">
        <h1>Here are some details about your algorithm:</h1>
        {{#pname}}
        <div class="container">
            <h3>Your function's name is: {{newname}} <br><br> You plan on returning a: {{newReturnType}} ({{newReturnName}}) <br><br> Your Description: {{description}}<br><br>
            </h3>
        </div>
        <div class="container">
            <h4>You might start off like this: <br><br> /**
                <br>{{description}} <br><br> @return {{newReturnName}} <br> */
                <br><br> {{newReturnType}} {{newname}} {<br><br>}</h4>
        </div>
        {{/pname}}
        <br>
        <button class="btn btn-lg" style="background-color:#00bfa5" class="" type="submit" onclick="javascript:history.back()">&laquo; Go Back</button>
    </div>

</body>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>